*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.container{
    background:#f5f5f5;
    /* border:1px solid red; */
}
.header{
    /* margin:0 auto; */
    background:rgb(51,51,51);
    height:40px;
    position:relative;
    padding:0;
}
.header .title{
    width:1150px;
    margin:0 auto;
}
.header a{
    color:#b0b0b0;
    line-height:40px;
    font-size:12px;
    margin:5px;

    text-decoration: none;
}
.header .title>span:nth-of-type(1){
    float:left;
}
.header .title>span:nth-of-type(2){
    float:right;
}
.header a.shopCar{
    display:inline-block;
    width:130px;
    height:40px;
    margin-top:0px;
    padding-left:50px;
    background-image:url("../images/side-car.png");
    background-repeat:no-repeat;
    background-size:25px;
    background-position:20% 50%;
    background-color:rgb(66,66,66);
}
.header a:hover{
    color:white;
}

.header a.shopCar:hover{
    display:inline-block;
    width:130px;
    height:40px;
    margin-top:0px;
    padding-left:50px;
    background-image:url("../images/side-car-to.png");
    background-repeat:no-repeat;
    background-size:25px;
    background-position:20% 50%;
    background-color:rgb(66,66,66);
    color:rgb(236, 99, 7);
}


.sitebar{
    position:fixed;
    right:0;
    bottom:100px;
}
.sitebar ul {
    list-style: none;
}
.sitebar ul li{
    width:80px;
    height:90px;
    border:1px solid #eee;
    text-align:center;
    padding:20px 0;
    position: relative;
}
.sitebar ul li a>img{
    display:block;
    width:30px;
    height:30px;
    margin:0 auto 5px;
    display:none;
}
.sitebar ul li [class^="pic"]{
    display:block;
}
.sitebar ul li a{
    text-decoration: none;
    color:#757575;
    font-size:14px;
}
.sitebar ul li:hover a{
    color:rgb(236, 99, 7);
}
.sitebar ul li:hover .pic{
    display:none;
}
.sitebar ul li:hover [class^="pic"]{
    display:none;
}
.sitebar ul li:hover [class^="hover-pic"],.sitebar ul li:hover .erweima{
    display:block;
}
.sitebar .erweima{
    height:187px;
    border:1px solid #eee;
    position: absolute;
    right:80px;
    top:0;
    padding:20px;
    display:none;
}
.sitebar .erweima img{
    widows: 100px;
    height:100px;
}