.shouji{
    width:1145px;
    margin:0 auto;
}
.shouji h2{
    font-weight:500;  
    font-size:20px;  
    margin-bottom:10px;
}
.shouji h2 a{
    text-decoration:none;
    color:rgb(66,66,66);
    font-size:16px;
    float:right;
    width:100px;
    background-image:url(../images/tv-9.png);
    background-size:30px 30px;
    background-position:70px -3px;
    background-repeat:no-repeat;
}
.shouji h2 a:hover{
    color:rgb(223,103,0);

}
.sidePhone,.contentPhone{
    float:left;
}
.sidePhone{
    width:235px;
}
.sidePhone img{
    width:100%;
}
.contentPhone{
    width:910px;
}
.contentPhone div{

}
.shouji1,.shouji2{
    height:300px;
    /* border:1px solid red; */
}
.shouji2{
    margin-top:15px;
}
.shouji2 div{
    /* border:1px solid red; */
}

.shouji1 div,.shouji2 div{
    float:left;
    margin:0 0px 0px 11px;
    text-align:center;
    width:210px;
    height:300px;
    background:#fff;
}
.contentPhone img{
    width:160px;
    height:160px;
}
.contentPhone .p1{
    font-size:14px;
    color:black;
}
.contentPhone .p2{
    color:rgb(127,127,127);
    font-size: 14px;
    margin-top:10px;
}
.contentPhone .p3{
    color:rgb(223,103,0);
    margin-top:10px;
    font-size:14px;
}
.contentPhone span{
    display:inline-block;
    width:60px;
    color:white;
    background:red;
}

.sidePhone:hover,.shouji1 div:hover,.shouji2 div:hover{
    transform: translateY(-1px);
    transition: transform 1s easy-out;
}
