.tv{
    width:1150px;
    margin:20px auto;
}
.tv h2{
    font-size:20px;
    font-weight:500;
    margin-bottom:10px;
}
.tv h2 ul{
    list-style-type:none;
    font-size:16px;
    display:block; 
    float:right;
}
.tv h2 ul li{
    display:inline-block;
    margin-left:10px;
}
.tv h2 ul li a{
    color:rgb(66,66,66);
    text-decoration:none;
}
.tv h2 ul li a:hover{
    color:rgb(223,103,0);
    border-bottom:2px solid rgb(223,103,0);
}
.contentTV div{
    width:215px;
    float:left;
    margin:8px;
    height:300px;
    text-align:center;
    font-size:14px;
    padding:2px;
    background:#fff;
    position: relative;
}
.contentTV div img{
    width:180px;
    height:180px;
}
.tv .contentTV .head-div{
    margin-left:0px;
}
.tv .contentTV .head-div img{
    width:100%;
    height:100%;
}
.contentTV .p1{
    font-size:14px;
    color:black;
}
.contentTV .p2{
    color:rgb(127,127,127);
    font-size: 12px;
    margin-top:10px;
}
.contentTV .p3{
    color:rgb(223,103,0);
    margin-top:10px;
    font-size:14px;
}
.contentTV span{
    display:inline-block;
    width:60px;
    color:white;
    background:red;
}
.contentTV .tv-last{
    margin-right:0;
    width:215px;
    height:300px;
    padding:0;
    background:#f5f5f5;
}
.contentTV .tv-last .item1{
    margin:0;
    /* border:1px solid red; */
    height:135px;
    margin-bottom:10px;
    padding:20px 0 0 20px;
    text-align: left;
    background-image:url(../images/smart-2.jpg);
    background-size:80px 80px;
    background-repeat:no-repeat;
    background-position:120px 15px;
}
.contentTV .tv-last .more{
    margin:20px 0 0 0;
    /* border:1px solid red; */
    height:135px;
    padding:20px 0 0 20px;
    text-align: left;
    background-image:url(../images/tv-9.png);
    background-size:80px 80px;
    background-repeat:no-repeat;
    background-position:120px 15px;
}

.contentTV>a>div:hover,.item1:hover,.more:hover{
    transform: translateY(-1px);
    transition: transform 1s easy-out;
}

.jiadian-hide:nth-of-type(1){
    /* border:1px solid red; */
}
.jiadian-hide:nth-of-type(2){
    /* border:1px solid blue; */
}
.jiadian-hide:nth-of-type(3){
    /* border:1px solid yellow; */
}
.jiadian-hide:nth-of-type(4){
    /* border:1px solid green; */
}
.contentTV .comment{
    background:rgb(255,103,0);
    position: absolute;
    bottom:0;
    height:76px;
    font-size:12px;
    color:#fff;
    text-align:left;
    padding:5px 25px;
    margin:0;
    display:none;
}
.contentTV .comment p:nth-child(2){
    margin-top:10px;
    color:#fff;
    opacity: 0.6;
}
.contentTV>a>div:hover .comment{
    display:block;
}